:root {
    --wc-primary-color: #29106e;
    --wc-bg-color: black;
    --wc-text-color: whitesmoke;
    --cl-primary-color: #0364ff;
    --cl-bg-color: #01164b;
    --cl-text-color: #f5f0ec;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

h3 {
    justify-self: center;
    color: whitesmoke;
    padding-left: 3vh;
    padding-right: 3vh;
}

img {
    height: 25vh;
}

td {
    padding: 1vh 2vw;
    border-radius: 10px;
}

th {
    padding-left: 2vh;
    padding-right: 2vh;
}

.cl-table {
    border: solid;
    border-width: 0.5vw;
    border-color:#0364ff;
    background-color: #0364ff;
    width: 100%;
    height: 100%;
}

.cl-table-caption {
    margin: 1vh;
    padding: 1vh;
    font-size: 2vh;
    font-weight: bolder;
    background-color: #01164b;
}

.cl-table-header {
    background-color: #0364ff;
    color: whitesmoke;
    border-width: 2vw;
    font-weight: bolder;
}

.cl-tr {
    background-color: #01164b;
    border: solid;
}

.flex-spans {
    display: grid;
    padding-left: 1%;
    padding-right: 1%;
    overflow: auto;
}

.generic-text {
    color: var(--wc-text-color);
    padding: 1px 1px;
}

.generic-text-2, .generic-text-3{
    justify-self: center;
    font-weight: bold;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-bottom: 3vh;
    margin-left: 1vw;
    margin-right: 1vw;
}
.generic-text-2 {
    color: var(--wc-text-color);
}

.generic-text-3 {
    color: var(--cl-bg-color);
}

.main-container {
    background-color: #f5f0ec;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.main-container-cl {
    background-color: #01164b;
    min-height: 100vh;
    margin: 0;
    padding: 0;
} 

.matchup-container{
    width: 40vw;
    height: fit-content;
    display: grid;
    justify-self: center;
    border: solid;
    border-color: #01164b;
    border-width: 0.5vw;
    border-radius: 10px;
    background-color: #f5f0ec;
}

.matchup-header{
    justify-self: center;
    color: #01164b;
    font-weight: bold;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-bottom: 3vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.unordered-list {
    border: solid;
    border-width: 1px;
    border-color:whitesmoke;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 1vh;
    padding-right: 1vh;
    width: 15vw;
}

.spans-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.tabs-content {
    background-color: #2b010e;
}

.wc-table {
    border: solid;
    border-width: 0.5vw;
    border-color:black;
    background-color: var(--wc-primary-color);
    width: 100%;
    height: 100%;
}

.wc-table-caption {
    margin: 1vh;
    padding: 1vh;
    font-size: 2vh;
    font-weight: bolder;
}

.wc-table-header {
    background-color: whitesmoke;
    color: black;
    border-width: 2vw;
    font-weight: bolder;
}

.wc-tr {
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    border: solid;
    text-align: center;
}

.wrapper, .wrapper-2 {
    background-color: var(--wc-primary-color);
    display: flex;
    flex-flow: row wrap;
    padding-top: 3vh;
    padding-bottom: 3vh;
    justify-content: center;
    max-width: 100vw;
}

.wrapper {
    background-color: var(--wc-primary-color);
}


#wc-image, #cl-image{
    display: block;
    justify-self: center;
}